[Unit]
Description=Broadleaf Commerce Application
After=network.target

[Service]
WorkingDirectory=/site
ExecStart=java -jar ~/Demosite/site/target/agents/spring-instrument.jar
Restart=always
RestartSec=3
User=ubuntu

[Install]
WantedBy=multi-user.target
